<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Configuration.ConfigurationManager" version="4.6.0-preview.18571.3" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.6.0-preview.18571.3" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.6.0-preview.18571.3" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.6.0-preview.18571.3" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.6.0-preview.18571.3" targetFramework="net462" />
  <package id="Unity" version="5.8.13" targetFramework="net462" />
</packages>